.graph-container {
    width: 300px;
  
}

.option {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.option-name {
    width: 80px;
}

.bar {
    height: 20px;
    background-color: blue;
}
.bar1 {
    height: 20px;
    background-color: rgb(4, 250, 4);
}

.percentage {
    margin-left: 5px;

}

